a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
    background-image: url(/static/markwallpaper.png);
}

h1 {
    color: white;
}


