.main-text {
    color: white;
}

.input-group {
    max-width:500px;
    padding: 5px;
}

h1 {
    color: white;
    padding: 5px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
    background-image: url(/static/markwallpaper.png);
}

