{% extends "base.html" %}
{% block content %}
<h1 class="main-text">Enter a number to check if it's prime!</h1>
<!-- note for next time i work on this:
check on what form.number.data is actually doing because its not behaving how i think it does -->
<form method="POST" action="">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
<div class="form-group">
  {{ form.numberField.label }}
  {{ form.numberField(class_="form-control", size=32) }}
</div>
{{ form.submitField(class_="form-control", )}}
</form>

<!--
<div class="input-group">
  <input type="text" class="form-control" placeholder="Number" aria-label="number input" aria-describedby="button-addon">
  <button class="btn btn-outline-secondary"" type="submit">Check primality!</button>
</div>
-->
{% endblock %}