{% extends "base.html" %}
{% block content %}
<h1 class="main-text">Enter a number to check if it's prime!</h1>
{{ form.hidden_tag() }}
<!-- note for next time i work on this:
check on what form.number.data is actually doing because its not behaving how i think it does -->
<form method="POST" action="{{ url_for('prime', number=form.number.data) }}">
<div class="form-group">
  {{ form.number.label }}
  {{ form.number(class_="form-control", size=32) }}
</div>
{{ form.submit(class_="form-control")}}
</form>

<!--
<div class="input-group">
  <input type="text" class="form-control" placeholder="Number" aria-label="number input" aria-describedby="button-addon">
  <button class="btn btn-outline-secondary"" type="submit">Check primality!</button>
</div>
-->
{% endblock %}