<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is it Prime?</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('view') }}">View Config Stuff</a>
    <a href="{{ url_for('quotes') }}">Random Quote xoxo</a>
    <a href="{{ url_for('bg3') }}">BG3 dump <3</a>
    <a href="{{ url_for('ori')}}">Ori Page</a>
</div>
<h1>Number: {{ number }}</h1>
<p>Is it prime? {{ isPrime }}</p>
</body>
</html>